<div class="shadow-sm mb-5 bg-white rounded-0">
  <div class="card-header text-center titre font-weight-bold lead mx-0">Modifier l'article</div>
  <%= render 'form', article: @article %>
  <%= link_to 'Show', @article %> |
  <%= link_to 'Retour', articles_path, class:"p-3" %>
</div>
