<div class="jumbotron main-header p-4 p-md-5 text-white rounded-0">
  <div class="col-md-6 px-0">
    <h1 class="display-4  titre">Article de cette semaine</h1>
    <p class="lead my-3 content">Disponible depuis le 31 mai, la seconde bêta de la version 2.6 du langage web dynamique Ruby s'enrichit d'un compilateur Just-in-Time, avec à la clef une amélioration des...</p>
    <%= link_to "Continuer la lecture", new_utilisateur_session_path, class:"btn btn btn-outline-secondary  rounded-0 mr-1 titre font-weight-bold lead" %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 blog-main">
    <h3 class="p-3 mb-3 titre font-weight-bold card shadow border-0 rounded-0 text-right bred text-white">
      Vos Articles
    </h3>
    <%= render 'partials/main'%>
    <!-- /.blog-post -->
    <%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
  <!-- /.blog-main -->
  <aside class="col-md-4 blight blog-sidebar shadow">
    <div class="p-3 mb-3 rounded-0">
      <h4 class=" titre font-weight-bold">A propos de l'admin</h4>
      <hr>
      <p class="mb-0 lead content">Blog <em>conçu en Ruby on Rails</em>.
        Chaque jour de la semaine à 9h00 HE, nous vous livrerons une nouvelle édition pour bien commencer la journée, ainsi que des éditions de week-end avec quelques-uns des meilleurs films et vidéos de la semaine.</p>
    </div>
    <div class="p-3">
      <h4 class=" titre font-weight-bold">Archives</h4>
      <hr>
      <ol class="list-unstyled mb-0 content">
        <li><a href="">Mars 2019</a></li>
        <li><a href="">Fevrier 2019</a></li>
        <li><a href="">Janvier 2019</a></li>
        <li><a href="">Decembre 2018</a></li>
        <li><a href="">Novembre 2018</a></li>
        <li><a href="">Octobre 2018</a></li>
      </ol>
    </div>
    <div class="p-4">
      <h4 class=" titre font-weight-bold">Sur les RS</h4>
      <hr>
      <ol class="list-unstyled content">
        <li><a href="">GitHub</a></li>
        <li><a href="">Twitter</a></li>
        <li><a href="">Facebook</a></li>
      </ol>
    </div>
  </aside>
  <!-- /.blog-sidebar -->
</div>
<!-- /.row -->
